<html>
<head>
	<title>Edit Person</title>
</head>
<body>
	<h1>Editing Person</h1>

	<%= render 'form' %>

	<div class=button>
		<%= link_to 'Show', @person %>
	</div>
	<div class=button>
		<%= link_to 'Back', people_path %>
	</div>
	
</body>
</html>



