<html>
<head>
  <title>List People or Enterprises|Home Page</title>
</head>
<body>
  <p id="notice"><%= notice %></p>

  <h1>Home</h1>

  Welcome to our site! <br>
  Our misson is to list people and enterprises who these people work for. Click on the buttons bellow to see people or enterprises.

  <div class="button">
    <%= link_to 'List People', people_path %>    
  </div>

  <div class="button">
    <%= link_to 'List Enterprises', enterprises_path %>    
  </div>
</body>
</html>
