<html>
<head>
	<title>Edit Enterprise</title>
</head>
<body>
	<h1>Editing Enterprise</h1>

	<%= render 'form' %>

	<div class=button>
		<%= link_to 'Show', @enterprise %>
	</div>
	<div class=button>
		<%= link_to 'Back', enterprises_path %>
	</div>
	
</body>
</html>



